.Button {
  align-items: center;
  border: 1px solid #007D73;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .15);
  cursor: pointer;
  display: flex;
  font-family: Verdana, 'Proxima Nova';
  font-size: 18px;
  height: 100%;
  justify-content: center;
  letter-spacing: -.1px;
  padding: 0 15px;
  width: 100%;
}

.Button:active {
  transform: scale(.99);
}

.Button-primary {
  color: #007D73;
}

.Button-primary:hover {
  background-color: #02615A;
  color: #FFF;
}

.Button-secondary {
  background-color: #007D73;
  color: #FFF;
}

.Button-secondary:hover {
  background-color: #02615A;
}

.Button-cancel {
  background-color: #888;
  border: 1px solid #888;
  color: #FFF;
}

.Button-cancel:hover {
  background-color: #5B5B5B;
}