.Card {
  background-color: #FFF;
  box-sizing: border-box;
  margin: 4px auto;
  min-height: 200px;
  padding: 10px 20px;
  width: 98%;
}

.Card:first-child {
  margin-top: 4px;
}

.Card:last-child {
  margin-bottom: 4px;
}