.TextArea {
  margin: 0 0 1rem;
  width: 100%;
}

.TextArea label {
  display: block;
  font-size: 14px;
}

.TextArea-field {
  border: 1px solid #007D73;
  box-sizing: border-box;
  color: #5B5B5B;
  font-size: 16px;
  margin: 10px 0 0;
  padding: 10px;
  width: 100%;
}
