body {
  background-color: #282C34;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body:not(.user-is-tabbing) button:focus {
  outline: none;
}

body:not(.user-is-tabbing) input:focus {
  outline: none;
}

body:not(.user-is-tabbing) select:focus {
  outline: none;
}

body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#__modal {
  background-color: '#FFF';
  height: auto;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
